body {
    height: 100%;
    font-family: Ubuntu, sans-serif;
    color: gold;
    
    }
img{
    
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

z-index: -1;   
}  
.test{
    position: absolute;
    top: 0%;
    left: 100px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    
}    
table {
    padding-bottom: 1px;   
    border: 1px solid lightgrey;
    border-collapse: collapse;
    width: 290px;
    box-shadow: 10px 10px 10px black;
    z-index: +3
    }
    
    td {
    text-align: center;
    border: 1px solid #d9d4d9;
    }
    
    thead tr:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: green;
    height: 45px;
    }
    
    thead tr:nth-child(2) {
    font-weight: bold;
    background-color: green;
    color:black;
    }
    
    table, td, th {
    border: 1px solid black;
    }
    
    tr {
    height: 33px;
    }
    
    tbody tr:nth-child(even) {
    background-color:green;
    }
    
    tbody tr:nth-child(odd) {
    background-color:green;
    }
    
    tfoot {
    font-size: .75rem;
    background-color:orange;
    text-align: center;
    }
    
    tbody tr:nth-child(5) td:first-child {
    font-style: italic;
    }
    
    tbody tr:nth-child(4) td:nth-child(3) {
    background-color: green;
    color: white;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 65px;
        width: 100%;
        background-color:black;
        color: white; 
        text-align: center; 
        z-index: +4;
    }

