/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  /* header styles */
  
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* section styles */
  
  section article {
    position: top;
    
    float: bottom;
    width: 50%;
    z-index: +3;
  }
  img{
      background-image: url("/assignments/lesson-9_1/kisscc0-superman-drawing-superhero-comics-superman-5b4ecb5688ae54.5716471715318905185599.jpg");
      margin-left: 20%;
      position: absolute;
      float: right;
      z-index: -1;
  }
  section p {
    margin: 5px 0;
    
  }
  
  section ul {
    margin-top: 0;
  }
  
  h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
  }
  