
body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    background-image:url("assignments/lesson-4/images/weatherstorm.jpg");
    height: 100%;
    width: 25%;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }

   
 
      
  