body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    height: 100%;
    width: 75%;
  }

header {
    background-color: black;
    text-align: center;
    
    height: 150px;
    width: 100%;
    
}

header > img {
 width: 100px;
 height: auto;
 vertical-align: left;
 }

 .headertext {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 25px;
    vertical-align: left;
    color: white;
    display: inline-block; 
   
    
   }
 .headertext h1 {
    font-size: 35px;
 }
 .currentconditions {
    display: inline-block;
    width: 100px;
    height: auto;
    vertical-align: right;
}   
 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color:black;
    color: white; 
    text-align: center; 
       

 }
      
  