body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    height: 100%;
    width: 75%;
  }

header {
    background-color: black;
    text-align: center;
    height: 100px;
    width: 100%;
    
}

header > img {
 width: 100px;
 height: auto;
 vertical-align: left;
 
}


 .headertext {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    display: inline-block; 
    color: white;
    vertical-align: middle;
   }
.headertext h1 {
    font-size: 3rem;
}
.currentconditions {
    display: inline-block;
}   
 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color:black;
    color: white; 
    text-align: center; 
       

 }
      
  