body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    height: 100%;
    
}
main{
    height: 20em;
    width: 100%;
}


header {
    background-color: black;
    position: fixed;
    top: 0px;
    text-align: center;
    height: 150px;
    width: 100%;
    z-index: +10;
    
}

header > img {
 width: 100px;
 padding-right: 80px;
 padding-bottom: 20px;
 height: auto;
 
 }

 .headertext {
    font-size: 20px;
    position: relative;
    color: white;
    display: inline-block;
 }     

 .headertext h1 {
    position: relative; 
    font-size: 50px;
 }
 .currentconditions {
    display: inline-block;
    padding-inline-start: 70px;
    width: 100px;
    height: auto;
    vertical-align: right;
 }

ul {
    list-style-type: inline block;
    position: fixed;
    top: 150px;
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color: black;
    text-align: center;
    z-index: +4;
}

li {
    display: inline-block;
    
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
     
}

li a:hover {
    background-color:green;
    
}
h6 { text-align: center;
    position: -webkit-sticky;
    position: sticky;
    padding: .75em;
    top: 33%;
    height: 1em;
    width: 100%;
    background-color: green;
    color:white; 
    text-align: center;
    font-size: 24px; 
    z-index: 0;
    
    
}


    


div img{
    
    position: relative;
    top: 0em;
    bottom:em;
    z-index: -1;
    
}

.weathersummary {
    position: relative;
    top: 130px;
    left: 15em;
    width: 15em;
    padding: 1em;
    background-color: green;
    font-weight: bold;
    font-size: 15px;
    z-index: +3;
    }
 .value{
     color: white;
 }   
.forecast {
    position: -webkit-sticky;
    position: sticky;
    top: 21%;
    bottom: 5em;
    height: 6em;
    width: 100%;
    background-color: green;
    color:white; 
    text-align: center; 
    z-index:+5;
   
    }
 table{
    display: inline-block;
    color:white;
    text-align: center;
    font-size: 1em;
}   

th {
    font-size: 15px;
}

aside{
  position: relative;
  top: -21em;
  bottom: 0em;
  padding-right: 1%;
  float:right;
  z-index: 2;
}


.franklin{
    position: static;
    overflow: auto;
    top: 1%;
    height: 0%;
    bottom: 1.35em;
    width: 100%;
    background:orange;
    size: 20em;
    size: 50em;
    font-size: 24px;
    z-index: 2;
    
}
.image3{
  
  padding: 5px;
  float:right;
  z-index: +1;
}

article{
    position: relative;
    left: 50%;
    top: -29.5em;
    width: 60%;
    background-color:green;
    color:black; 
    text-align: center;
    text-indent: 50px;
 
    line-height: 1em;
    text-align: center;


}
     

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color:black;
    color: white; 
    text-align: center; 
    z-index: +4;
}
  
  