body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    height: 100%;
    
}
main{
    height: 18em;
    width: 100%;
}


header {
    background-color:black;
    position: fixed;
    top: 0px;
    text-align: center;
    height: 148px;
    width: 100%;
    z-index: +10;
    color: white;
}

header > img {
 width: 100px;
 padding-right: 80px;
 padding-bottom: 20px;
 height: auto;
 
 }


 .headertext {
    font-size: 18px;
    position: relative;
    color: white;
    display: inline-block;
 }     

 .headertext h1 {
    position: relative; 
    font-size: 50px;
    color: white;
 }
 .currentconditions {
    display: inline-block;
    padding-inline-start: 70px;
    width: 100px;
    height: auto;
    vertical-align: right;
 }


ul {
    list-style-type: inline block;
    position: fixed;
    top: 150px;
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color: black;
    text-align: center;
    z-index: +4;
}

li {
    display: inline-block
 }

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
     
}

li a:hover {
    background-color:green;
    
}

li.active a {background: linear-gradient(green 0%,orange 100%);
}


h6 { text-align: center;
    position: -webkit-sticky;
    position: sticky;
    padding: 1em;
    top: 33%;
    height: 1em;
    width: 100%;
    background-color: green;
    color:white; 
    text-align: center;
    font-size: 30px; 
    z-index: 0;
    
}  

figure{
    position: relative;
    background-color: orange;
    top: -80px;
    left: 20%;
    width: 100%;
    
}   

.weathersummary {
    position: relative;
    color: white;
    top: 65px;
    left: 2em;
    width: 15em;
    padding: 1em;
    background-color: green;
    font-weight: bold;
    font-size: 15px;
    z-index: +4;
    }
 .value{
     color: white;
 }   
.forecast {
    position: -webkit-sticky;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 23%;
    bottom: 4em;
    height: 10em;
    width: 100%;
    background-color: green;
    color:white; 
    text-align: center; 
    z-index:+3;
   
    }
    

 table, th, td {
border: 2px solid black;
color: white; 
padding: 10px;
}

 table{
    -webkit-margin-start: 40%;  
    color:black;
    text-align: center;
    font-size: 1em;
    border-collapse: collapse;
    
}   

th {
    height: 5px;
    font-size: 20px;
    padding-top: 10px;
}
td {
    
    height: 0px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 13px;
}
aside {
  height: auto;
  width:500px;
  position: relative;
  top: -300px;
  padding-right: 10%;
  float:right;
  z-index: 2;
}


section.franklin{
    position: inherit;
    text-emphasis: wrap;
   padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    top: 100%;
    height: 300px;
    width: 45%;
    background:orange;
    font-size: 18px;
    z-index: 2;
    }
p{
    font-size: 18px;
}
section{
    position: relative;
    height: auto;
    width: 300px;
    left: 0%;
    bottom: 20%; 
  
}

article{
    margin-top: -400px;
    border-bottom: 50px;
    position: relative;
    left: 50%;
    bottom: 20%;
    width: 40%;
    padding-bottom: 50px;
    background-color: orange;
    color:black; 
    text-align: center;
    text-indent: 50px;
    line-height: 1em;
    text-align: center;
    z-index: +2;


}
span{
    color: white;
    
}
     

footer {
    position: fixed;
    margin-top: 10px;
    padding-top: 25px;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color:black;
    color: white; 
    text-align: center; 
    z-index: +3;
}
  
  